.appbar {
  border-bottom: 2px solid var(--purple);
  padding-bottom: 10px;
}

.appbar .header {
  font-size: 28px;
  font-weight: 500;
}

@media only screen and (max-width: 700px) {
  .appbar .header {
    font-size: 22px;
  }
}