@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --background: #191919;
  --purple: #8900E8;
}

body {
  background-color: var(--background);
  color: white;
  max-height: 100vh;
}

.container {
  width: 80%;
  margin: 20px auto;
}

input[type=text],
input[type=number] {
  outline: none;
  padding: 5px;
  font-size: 18px;
}