@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --background: #191919;
  --purple: #8900E8;
}

body {
  background-color: var(--background);
  color: white;
  height: 100vh;
}

#root {
  height: 100%;
}

.container {
  width: 80%;
  height: 100%;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

input[type=text],
input[type=number] {
  outline: none;
  padding: 5px;
  font-size: 18px;
}